/*== Font helpings  ==============================*/

	/* http://p.yusukekamiyamane.com/fonts/ */
	@font-face {  
	  font-family: pf_tempesta_seven ;  
	  src: url( 'fonts/pf_tempesta_seven.ttf' ) format("truetype");  
	}

/*== Main Containers  ==============================*/

	/*-- Main Container --*/
		.jInspector{
			width: 220px;
			padding: 2px;
			font-size: 8px;
			color: #333;
			font-family: pf_tempesta_seven, monospace;
			background-color: rgba(150,150,150,0.95);
			/*position:absolute;*/
			z-index: 2;
			position:fixed;
			right:10px;
			bottom:10px;
		}
	/*-- Sub Containers --*/
		.jInspector .uiContainer{
			border-bottom: 1px dotted #555;
			padding-bottom: 2px;
			padding-left: 10px;
			margin-bottom: 4px;
			/* scrollable */
			max-height: 120px;
			overflow:auto;
		}
	/*-- Titles --*/
		.jInspector .uiTitle{
			border-bottom: 1px dotted #555;
			padding-bottom: 2px;
			margin-bottom: 4px;
		}
	
/*== General Styling ==============================*/
	
	/*-- Input Styling --*/
		.jInspector input{
			font-size:8px;
			font-family: pf_tempesta_seven, courier, sans serif;
			line-height: 10px;
			color: #777;
			background-color: #eee;
			border: 0;
			margin: 0;
			padding: 0;
			cursor: pointer;
			display: inline;
			-webkit-appearance: none;
			border-bottom: 1px solid #777;
		}
		.jInspector input:focus {
			outline: none;
		}
	
	/*-- TextArea Styling --*/
		.jInspector textarea{
			font-size:8px;
			font-family: pf_tempesta_seven, courier, sans serif;
			line-height: 10px;
			color: #777;
			background-color: #eee;
			border: 0;
			margin: 0;
			padding: 0;
			cursor: pointer;
			display: inline;
			-webkit-appearance: none;
			border-bottom: 1px solid #777;
		}
		.jInspector textarea:focus {
			outline: none;
		}
		
/*== Specific Styling ==============================*/
	
	/*-- Boolean Styling --*/
		.jInspector .boolAttr{
			margin-right : 6px;
			color: #333;
		}
		.jInspector .boolOn{
			background-color: white
		}
	
	/*-- ID Styling --*/
		.jInspector .idString{
			color: white;
		}
		.jInspector .idStringLink{
			color: white;
			cursor: pointer;
		}
		.jInspector .idStringLink:hover{
			color: rgb(10,250,50);
		}
		
		.jInspector .noChildren{
			color: white;
		}

/*== Button Panel ======================================*/

	.jInspector .buttonPanel{
		height: 20px;
	}
	
	.jInspector .buttonPanel
	.button{
		float: left;
		cursor: pointer;
	}
	.jInspector .buttonPanel
	.button:hover{
		background-color: rgb(120,120,120);
	}

/*== Attribute Panel =====================================*/

	.jInspector .attrPanel{
	}
	
	.jInspector .attrPanel
	.attrTitle{
		width:60px;
		float: left;
		display:inline;
	}
	
	.jInspector .attrPanel
	input.attrInput{
		width:70px;
		margin-right: 4px;
	}
	
	.jInspector .attrPanel
	input.shortattrInput{
		width:35px;
		margin-right: 4px;
	}
	.jInspector .attrPanel
	input.veryshortattrInput{
		width:25px;
		margin-right: 4px;
	}
	
	.jInspector .attrPanel
	.minus{
		margin-right: 4px;
		cursor:pointer;
	}
	.jInspector .attrPanel
	.minus:hover{
		color: white;
	}
	
	.jInspector .attrPanel
	.plus{
		margin-right: 4px;
		cursor:pointer;
	}
	.jInspector .attrPanel
	.plus:hover{
		color: white;
	}
	
	.jInspector .attrPanel
	input.increment{
		width:20px;
		margin-right: 4px;
	}

/*== Text Button ====================================*/

	.jInspector
	.textButton{
		padding:2px;
		margin-right: 4px;
		background-color: white;
		cursor:pointer;
	}
	
	.jInspector
	.textButtonRed{
		padding:2px;
		color: red;
		margin-right: 4px;
		background-color: white;
		cursor:pointer;
	}

/*== Icons ====================================*/

	/*-- divider --*/
		.tx-icon-div {
			width: 4px; height: 30px;
			display: block;
			background-color: #bbb;
			margin-left:4px;
			margin-right:4px;
		 }
		
	/* Icon image */
		.tx-icon {
			width: 30px; height: 30px;
			display: block;
			text-indent: -99999px;
			overflow: hidden;
			background-repeat: no-repeat; 
			background-image: url(images/tx-sprite.png);
		}
		.tx-icon-grad {
			background-image: url(images/tx-sprite-gradient.png);
		}
		.tx-icon-clean {
			width: 30px; height: 30px;
			display: block;
			text-indent: -99999px;
			overflow: hidden;
			background-repeat: no-repeat; 
			background-image: url(images/tx-sprite.png);
		}
		
		/* Row 1 */
		.tx-icon-inspector { background-position: 0 0; }
		.tx-icon-link { background-position: -30px 0; }
		.tx-icon-cut { background-position: -60px 0; }
		.tx-icon-liquify { background-position: -90px 0; }
		.tx-icon-solidify { background-position: -120px 0; }
		.tx-icon-gravity { background-position: -150px 0; }
		.tx-icon-cabinet { background-position: -180px 0; }
		/* Row 2 */
		.tx-icon-killmsg { background-position: 0px -30px; }
		.tx-icon-msg { background-position: -30px -30px; }
		.tx-icon-clear { background-position: -60px -30px; }
		.tx-icon-jsonline { background-position: -90px -30px; }
		.tx-icon-jsonloop { background-position: -120px -30px; }
		.tx-icon-jsontree { background-position: -150px -30px; }
		.tx-icon-jsongrid { background-position: -180px -30px; }
		/* Row 3 */
		.tx-icon-copy { background-position: 0px -60px; }
		.tx-icon-paste { background-position: -30px -60px; }
		.tx-icon-close { background-position: -60px -60px; }
		.tx-icon-save { background-position: -90px -60px; }
		.tx-icon-pin { background-position: -120px -60px; }
		.tx-icon-flag { background-position: -150px -60px; }
		.tx-icon-question { background-position: -180px -60px; }
		/* Row 4 */
		.tx-icon-facebook { background-position: 0px -90px; }
		.tx-icon-twitter { background-position: -30px -90px; }
		.tx-icon-portrait { background-position: -60px -90px; }
		.tx-icon-info { background-position: -90px -90px; }
		.tx-icon-sandbox { background-position: -120px -90px; }
		.tx-icon-play { background-position: -150px -90px; }
		.tx-icon-pause { background-position: -180px -90px; }
		/* Row 5 */
		.tx-icon-lock { background-position: 0px -120px; }
		.tx-icon-unlock { background-position: -30px -120px; }	
		.tx-icon-msgOn { background-position: -60px -120px; }
		.tx-icon-msgOff { background-position: -90px -120px; }
		.tx-icon-tgtOn { background-position: -120px -120px; }
		.tx-icon-tgtOff { background-position: -150px -120px; }
		.tx-icon-newmsg { background-position: -180px -120px; }
		/* Row 6 */
		/*.tx-icon-unlock { background-position: 0px -150px; }
		.tx-icon-lock { background-position: -30px -150px; }	
		.tx-icon-msgOn { background-position: -60px -150px; }*/
		.tx-icon-grayflag { background-position: -90px -150px; }
		.tx-icon-redflag { background-position: -120px -150px; }
		.tx-icon-copyobj { background-position: -150px -150px; }
		.tx-icon-pasteobj { background-position: -180px -150px; }
		/* Row 7 */
		.tx-icon-injectobjon { background-position: 0px -180px; }
		.tx-icon-injectobjoff { background-position: -30px -180px; }	
		/*.tx-icon-msgOn { background-position: -60px -180px; }
		.tx-icon-msgOff { background-position: -90px -180px; }
		.tx-icon-tgtOn { background-position: -120px -180px; }
		.tx-icon-tgtOff { background-position: -150px -180px; }
		.tx-icon-newmsg { background-position: -180px -180px; }*/


	
	
   